.mtk1 { color: #d4d4d4; }
.mtk2 { color: #1e1e1e; }
.mtk3 { color: #6796e6; }
.mtk4 { color: #608b4e; }
.mtk5 { color: #569cd6; }
.mtk6 { color: #b5cea8; }
.mtk7 { color: #ce9178; }
.mtk8 { color: #646695; }
.mtk9 { color: #4ec9b0; }
.mtk10 { color: #dcdcaa; }
.mtk11 { color: #9cdcfe; }
.mtk12 { color: #d7ba7d; }
.mtk13 { color: #000080; }
.mtk14 { color: #f44747; }
.mtk15 { color: #c586c0; }
.mtk16 { color: #d4d4d4; }
.mtk17 { color: #808080; }
.mtk18 { color: #d16969; }
.mtk19 { color: #b267e6; }
.mtk20 { color: #cd9731; }
.mtki { font-style: italic; }
.mtkb { font-weight: bold; }
.mtku { text-decoration: underline; }